@inherits LayoutComponentBase

<PageTitle>Blazor Copilot</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
        Blazor Copilot
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
